In [2]:
import pandas as pd

# Long Beach Hospitals

### Long Beach - Harbor-UCLA

In [7]:
LBHarbor = pd.read_csv('LB- Harbor-UCLA CSV.csv', header=1)
LBHarbor.head()

,PROCEDURE DESCRIPTION,PRICE,REVENUE CODE,CPT CODE,ALTERNATE CPT HCPC,CPT HCPC MODIFIER,Unnamed: 6,Unnamed: 7
0,CORONARY CARE UNIT - GENERAL,"$9,500",210.0,,,,NaN,NaN
1,INTENSIVE CARE UNIT,"$9,500",200.0,,,,NaN,NaN
2,LEAVE OF ABSENCE - NO CHARGE,$-,180.0,,,,NaN,NaN
3,LEAVE OF ABSENCE - W/CHARGE,"$3,500",180.0,,,,NaN,NaN
4,MULTIBED STANDARD ( 3 - 4),"$3,000",130.0,,,,NaN,NaN

### Long Beach - Olive View - UCLA

LBOlive = pd.read_csv('LB- Olive View-UCLA CSV.csv')
LBOlive.head()

### Long Beach - USC+LAC

In [11]:
LBUsc = pd.read_csv('LB- USC+ LAC MC.csv')
LBUsc.head()

,PROCEDURE DESCRIPTION,PRICE,REVENUE CODE,CPT CODE,ALTERNATE CPT HCPC,CPT HCPC MODIFIER
0,CORONARY CARE UNIT - GENERAL,"$9,500",210.0,,,
1,INTENSIVE CARE UNIT,"$9,500",200.0,,,
2,LEAVE OF ABSENCE - NO CHARGE,$-,180.0,,,
3,LEAVE OF ABSENCE - W/CHARGE,"$3,500",180.0,,,
4,MULTIBED STANDARD ( 3 - 4),"$3,000",130.0,,,

# San Francisco Hospitals #

### SF- Van Ness

In [13]:
SFVanness = pd.read_csv('SF- Van Ness MC CSV.csv')
SFVanness.head()

,ID,SERVICE_SETTING,DESCRIPTION,CPT,NDC,REVENUE_CODE,Gross Charge,Discounted Cash Price,Aetna Commercial Out of Network,Aetna HMO/PPO,...,Sutter | Aetna Fully Insured,Sutter | Aetna Self Insured,Sutter Health Plus HMO,United Commercial Out of Network,United HMO / POS,United Medicare Adv_ HMO,United PPO,United Signature Value Alliance,Minimum Negotiated Price,Maximum Negotiated Price
0,APRDRG-004-1,INPATIENT,All Inpatient Services for APRDRG-004-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$49,900.00","$84,830.00"
1,APRDRG-004-2,INPATIENT,All Inpatient Services for APRDRG-004-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$64,226.00","$109,184.00"
2,APRDRG-004-3,INPATIENT,All Inpatient Services for APRDRG-004-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$90,505.00","$153,859.00"
3,APRDRG-004-4,INPATIENT,All Inpatient Services for APRDRG-004-4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$147,647.00","$251,000.00"
4,APRDRG-005-1,INPATIENT,All Inpatient Services for APRDRG-005-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$45,662.00","$77,626.00"

### SF San Mateo

In [14]:
SFSanmateo= pd.read_csv('SF-San Mateo MC CSV.csv')
SFSanmateo.head()

,PROCEDURE,CPT/HCPCS,CURRENT PRICE,Service type,Cash if paid within 30 days of first statement 50% discount,Discounted Health Care 35% of total charges,HPSM Negotiated Rate,Pharmacy NDC
0,FLOOR 1 NON-ACUTE AWL,-,$985.00,Long Term Care,$492.50,$344.75,$484.30,NaN
1,FLOOR 1 PRIVATE ROOM,-,"$1,182.00",Long Term Care,$591.00,$413.70,$484.30,NaN
2,FLOOR 1 SEMI PRIVATE,-,$985.00,Long Term Care,$492.50,$344.75,$484.30,NaN
3,MED-SURG BED PRIVATE,-,"$5,640.00",Long Term Care,"$2,820.00","$1,974.00",$484.30,NaN
4,MED-SURG BED SEMI-PRIVATE,-,"$4,700.00",Long Term Care,"$2,350.00","$1,645.00",$484.30,NaN

### SF - Zuckerberg

In [16]:
SFZuckerberg = pd.read_csv('SF-Zuckerberg Gen CSV.csv', header=2)
SFZuckerberg.head()

C:\Users\u0955471\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Procedure,Code Type,Code,NDC,Rev Code,Procedure Description,Quantity,Anthem Blue Cross Commercial HMO - IP Price,Anthem Blue Cross Commercial HMO - IP Expected Reimbursement,Anthem Blue Cross Commercial HMO - ED Price,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,3.60442E+11,EAP,Custom 360442132010,NaN,0360 - OPERATING ROOM SERVICES - GENERAL CLASS...,"Hc Surgery, Trauma Major I, Addl 30 Mins",1,3962.0,3367.70,3962.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.10472E+11,EAP,CPT® 94667,NaN,0410 - RESPIRATORY SERVICES - GENERAL CLASSIFI...,Hc Post Drain & Percussion 30 Min,1,257.0,218.45,257.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.61443E+11,EAP,Custom 361442632011,NaN,0361 - OPERATING ROOM SERVICES - MINOR SURGERY,"Hc Surgery, Minor I, C&g, Addl 30 Mins",1,2605.0,2214.25,2605.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.61443E+11,EAP,Custom 361442632012,NaN,0361 - OPERATING ROOM SERVICES - MINOR SURGERY,"Hc Surgery, Minor Ii, C&g, Addl 30 Mins",1,2785.0,2367.25,2785.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,80502,EAP,CPT® 80502,NaN,0300 - LABORATORY - GENERAL CLASSIFICATION,LAB PATHOLOGY CONSULT-COMPLETE,1,30.0,25.50,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN